/*Variables*/
$fondo:rgb(222, 221, 221);
$fondoNav:rgb(150, 148, 148);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $fondo;
}
h1, h2, h3, h4{
    font-family: 'Bebas Neue', 'cursive';
    text-align: center;

}
nav{
    display: flex;
    justify-content: space-around;
    .navbar{
        width: 100%;
        background-color: $fondoNav;
        padding: 10px 10px;
        position: sticky;
        top: 0;
        .superior{
            align-items: center;
            .barra-superior{
                display: inline-block;
                background-color: $fondoNav;
                padding: 0 10px;
                margin-left: 20px; 
            }
            ul a{
                background-color: $fondoNav;
            }
        }
    }
    #check-menu, label.menu{
        display: none;
    }
}
ul{
    background-color: rgb(150, 148, 148);

}
p a:hover{
    font-size: 15px;
}
a:visited{
    color: black;
}
.footer-info, .footer-mec, .footer-inte, .footer-con, .footer-doc{
    background-color: $fondoNav;;
    height: 60px;
    padding: 20px 5px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    .barra-inferior{
        display: inline-block;
        background-color: $fondoNav;
        padding: 0 20px;
        margin-left: 20px;
    }
    span{
        background-color: $fondoNav;
    }
}
img{
    width: 250px;
    height: 150px;
}
.img-index:hover{
    width: 255px;
    height: 155px;
}
/* Estilos inicio*/

.documentos, .motor, .informacion, .contacto-index, .footer-inte, .titulo1{
    padding: 10px;
    border: 1px solid;
}
.grid-index{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100px repeat(4, 230px) 100px;
    grid-template-areas: 
    ". titulo1 ."
    ". documentos ."
    ". motor ."
    ". informacion ."
    ". contacto-index ."
    "footer-inte footer-inte footer-inte";
}
.titulo1{
    grid-area: titulo1;
}
.documentos{
    grid-area: documentos;
}
.motor{
    grid-area: motor;
}
.informacion{
    grid-area: informacion;
}
.contacto-index{
    grid-area: contacto-index;
}
.footer-inte{
    grid-area: footer-inte;
}

/* Estilo documentos*/
.titulo5, .cedula, .titulo-auto, .footer-doc{
    padding: 10px;
    border: 1px solid;
}
.grid-doc{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr repeat(2, 2fr) 1fr;
    grid-template-areas: 
    ". titulo5 ."
    ". cedula ."
    ". titulo-auto ."
    "footer-doc footer-doc footer-doc";
}
.titulo5{
    grid-area: titulo5;
}
.cedula{
    grid-area: cedula;
}
.titulo-auto{
    grid-area: titulo-auto;
}
.footer-doc{
    grid-area: footer-doc;
}
/* Estilo Informacion*/
.titulo4, .patente, .multas, .footer-info{
    padding: 10px;
    border: 1px solid;
    
}
.grid-info{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr repeat(2, 2fr) 1fr;
    grid-template-areas: 
    ". titulo4 ."
    ". patente ."
    ". multas ."
    "footer-info footer-info footer-info";
}
.titulo4{
    grid-area: titulo4;
    text-align: center;
}
.patente{
    grid-area: patente;
}
.multas{
    grid-area: multas;
}
.footer-info{
    grid-area: footer-info;
}
/* Estilo Mecanica*/
.footer-mec, .aceite, .rueda, .volante, .vtv, .titulo2{
    padding: 10px;
    border: 1px solid;
}
.grid-mec{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr repeat(4, 2fr) 1fr;/*repeat(4, 230px) 100px;*/
    grid-template-areas: 
    ". titulo2 ."
    ". volante ."
    ". rueda ."
    ". aceite ."
    ". vtv ."
    "footer-mec footer-mec footer-mec";
}
.titulo2{
    grid-area: titulo2;
}
.aceite{
    grid-area: aceite;
}
.rueda{
    grid-area: rueda;
}
.volante{
    grid-area: volante;
}
.vtv{
    grid-area: vtv;
}
.aceite{
    grid-area: aceite;
}
.footer-mec{
    grid-area: footer-mec;
}
/*Estilo Contacto*/
.contacto{
    background:$fondoNav ;
    width: 600px;
    height: 400px;
    overflow: scroll;
    padding: 20px;
    border: 1px solid;
}
.contacto h2{
    font-size: 1.3em;
    margin-bottom: 20px;
}
.formulario{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.contenedor {
    align-items:stretch;
    font-size: 15px;
}
.img-con{
    width: 350px;
    height: 250px;
}
.contacto, /*.img-contacto,*/ .titulo6, .footer-con{
    padding: 10px;
    border: 1px solid;

}
.grid-contacto{
    display: grid;
    grid-template-columns: 10% 50% 40%;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    ". titulo6 ."
    ". contacto ."
    "footer-con footer-con footer-con";
}
.titulo6{
    grid-area: titulo6;
}
.contacto{
    grid-area: contacto;
}
.img-contacto{
    grid-area: img-contacto;
}
.footer-con{
    grid-area: footer-con;
}
/*Media queries*/
/*medias telefono*/
@media (min-width: 320px) and (max-width:480px){
    .navbar{/*color de prueba*/
        background-color: $fondoNav;
        ul{
            display: none;
            position:absolute;
            height: 30vh;
            top: 50px;
            width: 100%;
            height: 150px;
            flex-direction: column;
            background-color: $fondoNav;
            justify-content: space-around;
        }
        #check-menu:checked ~ul{
            display: block;
        }
        label.menu{
            display: block;
            font-size: 1.5em;
            color: azure;
            cursor: pointer;
        }
    }
    .barra-inferior{
        display: inline-block;
        padding: 0 2.5px;
        margin-left: 2.5px;
    }
    span{
        font-size: 0.5em;
    }
    .img-index{
        width: 200px;
        height: 100px;
    }
    .grid-index{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 100px repeat(4, 230px) 100px;
        grid-template-areas: 
        "titulo1 titulo1 titulo1"
        "documentos documentos documentos"
        "motor motor motor"
        "informacion informacion informacion"
        "contacto-index contacto-index contacto-index"
        "footer-inte footer-inte footer-inte";
    }
    .grid-mec{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 1fr repeat(4, 2fr) 1fr;/*repeat(4, 230px) 100px;*/
        grid-template-areas: 
        "titulo2 titulo2 titulo2"
        "volante volante volante"
        "rueda rueda rueda"
        "aceite aceite aceite"
        "vtv vtv vtv"
        "footer-mec footer-mec footer-mec";
    }
    .grid-info{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 1fr repeat(2, 2fr) 1fr;
        grid-template-areas: 
        "titulo4 titulo4 titulo4"
        "patente patente patente"
        "multas multas multas"
        "footer-info footer-info footer-info";
    }
    .grid-doc{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 1fr repeat(2, 2fr) 1fr;
        grid-template-areas: 
        "titulo5 titulo5 titulo5"
        "cedula cedula cedula"
        "titulo-auto titulo-auto titulo-auto"
        "footer-doc footer-doc footer-doc";
    }
    .grid-contacto{
        display: grid;
        grid-template-columns: 10% 50% 40%;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas: 
        ". titulo6 ."
        ". contacto ."
        "footer-con footer-con footer-con";
    }
    .titulo6{
        grid-area: titulo6;
    }
    .contacto{
        grid-area: contacto;
    }
    .footer-con{
        grid-area: footer-con;
    }
}
/*medidas tablet*/
@media (min-width: 481px) and (max-width: 600px){
    .navbar{
        background-color: $fondoNav;
        ul{
            display: none;
            position:absolute;
            height: 30vh;
            top: 50px;
            width: 100%;
            height: 150px;
            flex-direction: column;
            background-color: $fondoNav;
            justify-content: space-around;
        }
        #check-menu:checked ~ul{
            display: block;
        }
        label.menu{
            display: block;
            font-size: 1.5em;
            color: azure;
            cursor: pointer;
        }
    }
    .barra-inferior{
        display: inline-block;
        padding: 0 10px;
        margin-left: 10px;
    }
    span{
        font-size: 0.7em;
    }
    img{
        width: 200px;
        height: 100px;
    }
    .grid-index{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 100px repeat(4, 230px) 100px;
        grid-template-areas: 
        ". titulo1 ."
        ". documentos ."
        ". motor ."
        ". informacion ."
        ". contacto-index ."
        "footer-inte footer-inte footer-inte";
    }
    .grid-mec{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 1fr repeat(4, 2fr) 1fr;/*repeat(4, 230px) 100px;*/
        grid-template-areas: 
        ". titulo2 ."
        ". volante ."
        ". rueda ."
        ". aceite ."
        ". vtv ."
        "footer-mec footer-mec footer-mec";
    }
    .grid-info{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 1fr repeat(2, 2fr) 1fr;
        grid-template-areas: 
        ". titulo4 ."
        ". patente ."
        ". multas ."
        "footer-info footer-info footer-info";
    }
    .grid-doc{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 1fr repeat(2, 2fr) 1fr;
        grid-template-areas: 
        ". titulo5 ."
        ". cedula ."
        ". titulo-auto ."
        "footer-doc footer-doc footer-doc";
    }
}
/*medias pantallas*/
@media (min-width: 601px) and (max-width: 1024px){
    .navbar{
        background-color: $fondoNav;
    }
    .grid-index{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 100px repeat(4, 230px) 100px;
        grid-template-areas: 
        ". titulo1 ."
        ". documentos ."
        ". motor ."
        ". informacion ."
        ". contacto-index ."
        "footer-inte footer-inte footer-inte";
    }
    .grid-mec{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 1fr repeat(4, 2fr) 1fr;/*repeat(4, 230px) 100px;*/
        grid-template-areas: 
        ". titulo2 ."
        ". volante ."
        ". rueda ."
        ". aceite ."
        ". vtv ."
        "footer-mec footer-mec footer-mec";
    }
    .grid-info{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 1fr repeat(2, 2fr) 1fr;
        grid-template-areas: 
        ". titulo4 ."
        ". patente ."
        ". multas ."
        "footer-info footer-info footer-info";
    }
    .grid-doc{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 1fr repeat(2, 2fr) 1fr;
        grid-template-areas: 
        ". titulo5 ."
        ". cedula ."
        ". titulo-auto ."
        "footer-doc footer-doc footer-doc";
    }
}